

@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter.woff2') format('woff2');
    font-optical-sizing: auto;
    font-weight: 300 500 700;
    font-style: normal;
}

:root {
    --Blue-950: hsl(240, 38%, 20%);
    --Gray-400: hsl(240, 18%, 77%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    width: 100%;
    background-color: var(--Gray-400);  
    color: var(--Blue-950) !important;
    width: 100%;    
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1440px;
    background-image: url(../images/pattern-quotes.svg),  url(../images/pattern-curve.svg), url(../images/pattern-bg.svg);
    background-position: 20% 10%, left bottom, 90% center;
    background-repeat: no-repeat;
    background-size: auto, auto, 50% auto; 
    gap: 2rem;
    padding: 2rem;
    overflow: hidden;
    padding-top: 4rem;
    padding-right: 2rem;
    position: relative;
}

.card {
    display: flex;  
    overflow-x: auto;
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth;
}

.card1 {
    width:  100%;
    flex-shrink: 0;
    scroll-snap-align: start;  
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    position: relative;
}

.card1-image {
    width: 40%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 20px 30px -10px rgba(0,0,0,0.2);
    z-index: 2;
}

.card1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
    gap: 0.5rem;
}

p {
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--Blue-950);
    font-weight: 300;
}

.line {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.name {
    color: var(--Blue-950);
    font-weight: 700;
}

h3 {
    color: var(--Blue-950);
    font-weight: 500;
}

.buttons {
    position: absolute;
    bottom: 0.7rem;
    right: 26rem;
    display: flex;
    gap: 0;
    width: auto;
    height: auto;
    box-shadow: 0 20px 30px -10px rgba(0,0,0,0.2);
    border-radius: 3rem;
    background-color: white;
}

.buttons button {
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: var(--Gray-400);
}

#prev-bnt {
    background-image: url('../images/icon-prev.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3rem 0 0 3rem;
}

#next-bnt {
    background-image: url('../images/icon-next.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 3rem 3rem 0;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
