

@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter.woff2') format('woff2');
    font-optical-sizing: auto;
    font-weight: 300 500 700;
    font-style: normal;
}

:root {
    --Blue-950: hsl(240, 38%, 20%);
    --Gray-400: hsl(240, 18%, 77%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    width: 100%;
    background-color: var(--Gray-400);  
    color: var(--Blue-950) !important;
    width: 100%;    
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1440px;
    background-image: url(../images/pattern-quotes.svg),  url(../images/pattern-curve.svg), url(../images/pattern-bg.svg);
    background-position: left top, left bottom, center right;
    background-repeat: no-repeat; 
    gap: 2rem;
    padding: 2rem;
    overflow: hidden;
    padding-top: 6rem;
    padding-right: 4rem;
}

.card {
    display: flex;  
    overflow-x: auto;
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth;
}

.card1 {
    width: calc( 100%);
    flex-shrink: 0;
    scroll-snap-align: start;  
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.card1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
    gap: 0.5rem;
}

p {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--Blue-950);
}

.name {
    color: var(--Blue-950);
    font-weight: 700;
}

h3 {
    color: var(--Blue-950);
    font-weight: 500;
}

img{
    display: flex;
    width: 60%;
}

ul {
    width: 100%;
    padding: 1rem;  
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

li {
    text-align: center;
    background-color: indianred;
}

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
