

@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter.woff2') format('woff2');
    font-optical-sizing: auto;
    font-weight: 300 500 700;
    font-style: normal;
}

:root {
    --Blue-950: hsl(240, 38%, 20%);
    --Gray-400: hsl(240, 18%, 77%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    width: 100%;
    background-color: var(--Gray-400);  
    color: var(--Blue-950) !important;
    width: 100%;    
    padding: 2rem;
}

.container {
    width: 90%;
    max-width: 1440px;
    background-image: url(../images/pattern-quotes.svg),  url(../images/pattern-curve.svg), url(../images/pattern-bg.svg);
    background-position: left top, left bottom, center right;
    background-repeat: no-repeat; 
    gap: 2rem;
    padding: 2rem;
}

.card {
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;    
    @include neo(1, 0.5rem, 0.5rem)  
}

.card1 {
    width: calc( 100% / 2 );  
}

ul {
    width: 100%;
    padding: 1rem;  
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

li {
    text-align: center;
    background-color: indianred;
}












































    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
