

@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter.woff2') format('woff2');
    font-optical-sizing: auto;
    font-weight: 300 500 700;
    font-style: normal;
}

:root {
    --Blue-950: hsl(240, 38%, 20%);
    --Gray-400: hsl(240, 18%, 77%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

article {
    background-color: var(--Gray-400);  
    color: var(--Blue-950) !important;
    width: 100%;    
    padding: 2rem;
}

.testimonial-slider {
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 2rem;
}









































    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
